# Configuration file

general {
    # Whether sound events should be registered (useful for servers who want to enable optional mod compatibility) [default: true]
    B:register_sound_events=true
}


